/* цвет основного текста #757575; */
/* вторичный цвет текста  #212121;*/
/* цвет текста в футере #FFFFFF  */
/* акцент #2196F3; */
/* основной цвет фона #fff */
/* вторичный цвет фона #F5F4FA; */
/* цвет секции герой и футера #2F303A; */
/* цвет текста герой #fff */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.17;
}
